body {
    margin: 0; /* To remove any default margin */
    height: 100vh; /* To make sure the body covers the entire viewport height */
    background: linear-gradient(180deg, rgb(171,228,167), rgb(131,215,205));
    padding: 12px;
}

header {
    text-align: center;
}

@font-face {
    font-family: 'Dinosaur';
    src: url('./dinosaur-font/Dinosaur-J2q7.ttf') format('truetype');
}

#title {
    font-family: 'Dinosaur', sans-serif;
    font-size: 60px;
}
#top-info {
    text-align: center;
}

table {
    width: 100%;
    border: none;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        url('./images/tracks.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



#form-div {
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: 
    linear-gradient(rgba(200, 200, 200, 0.8), rgba(200, 200, 200, 0.8)),
    url('./images/tracks.png');
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

tbody tr:nth-child(1) td:nth-child(1) {
    background-color: #059B8C;
}


tbody tr:nth-child(1) td:nth-child(2) {
    background-color: #DE7C5F;
}

tbody tr:nth-child(1) td:nth-child(3) {
    background-color: #4fb5c2;
}

tbody tr:nth-child(2) td:nth-child(1) {
    background-color: #fac26d;
}

tbody tr:nth-child(2) td:nth-child(2) {
    background-color: #6baa6a;
}

tbody tr:nth-child(2) td:nth-child(3) {
    background-color: #bb466c;
}

tbody tr:nth-child(3) td:nth-child(1) {
    background-color: #8166b5
}

tbody tr:nth-child(3) td:nth-child(2) {
    background-color: #a1c579;
}

tbody tr:nth-child(3) td:nth-child(3) {
    background-color: #6a7dcb;
}

#tableContainer {
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#dino-compare {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#dino-compare td {
    padding: 8px;
    text-align: center;
    border: none;
    font-family: 'Dinosaur', sans-serif;
    box-sizing: border-box;
}

#tableContainer > div {
    display: flex;
    justify-content: center;
    width: 100%;
}
